<head>
<title style="color: ">CapitalOne - WhereMyMoneyAt?</title>
<!-- <script>
 body {
   background: url("../static/no-money.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
</script> -->
</head>
{% load static %}
<body style="background: url('../static/no-money.jpeg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;">
<center>
<h1 style="color: #303e4e; font: 100%/1.8 Optimist,Arial,Helvetica,sans-serif;
font-size: 40;">
  CapitalOne - WhereMyMoneyAt?</h1>

<img src="{% static "capital-one-logo.png" %}"
  alt="Capital One Logo" style="width: 250px; height: 100px;"/>

<h2 style="color: #303e4e; font: 100%/1.8 Optimist,Arial,Helvetica,sans-serif;
font-size: 23;"><strong>Ever wondered where you spend your money?</strong> </h2>
<h3 style="color: #303e4e; font: 100%/1.8 Optimist,Arial,Helvetica,sans-serif;
font-size: 23;">Find out now with our map. The more you spend at a merchant,
  bigger the dot will be. Also, you can see the frequency of your purchases
  with a particular merchant </h3>



<form action="submit" method="post">
    <div style="color: #303e4e; font: 100%/1.8 Optimist,Arial,Helvetica,sans-serif;
    font-size: 18;">Your customer ID:</div><br>
    <input type="text" name="cf_id"><br>
    <input type="submit" value="Go">
    <input type="reset" value="Clear">
</form>
</center>

</body>
